DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=SEU_USUARIO
DB_PASSWORD=SUA_SENHA
DB_NAME=agroware_mombasa_legacy
DB_SYNCHRONIZE=false
DB_LOGGING=false
PORT=3000
SESSION_SECRET=troque-por-um-valor-aleatorio-longo
